/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #dcdcdc;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Header */
header {
    background-color: #1e1e1e;
    color: #fff;
    padding: 100px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

header h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #bbb;
}

.cta-button {
    padding: 10px 30px;
    font-size: 1.2em;
    color: #fff;
    background-color: #ff6f61;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #e05a50;
}

/* Section Styles */
.section {
    padding: 50px 0;
    background-color: #1d1f21;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    margin-bottom: 20px;
}

h2 {
    font-size: 2.5em;
    color: #ff6f61;
    margin-bottom: 30px;
}

p {
    font-size: 1.2em;
    color: #ccc;
    margin-bottom: 20px;
}

/* Skill Cards */
.skill-cards {
    display: flex;
    justify-content: space-between;
}

.skill-card {
    background-color: #383c42;
    padding: 30px;
    border-radius: 8px;
    width: 30%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
}

.skill-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}

.skill-card h3 {
    font-size: 1.8em;
    color: #ff6f61;
}

.skill-card p {
    font-size: 1.1em;
    color: #ccc;
}

/* Project Cards */
.project-cards {
    display: flex;
    justify-content: space-between;
}

.project-card {
    background-color: #383c42;
    padding: 30px;
    border-radius: 8px;
    width: 30%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}

.project-card h3 {
    font-size: 1.8em;
    color: #ff6f61;
}

.project-card p {
    font-size: 1.1em;
    color: #ccc;
}

/* Footer */
footer {
    background-color: #1e1e1e;
    color: #bbb;
    padding: 30px 0;
    text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    header h1 {
        font-size: 2.5em;
    }

    .skill-cards, .project-cards {
        flex-direction: column;
    }

    .skill-card, .project-card {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 2em;
    }

    .cta-button {
        font-size: 1em;
        padding: 8px 20px;
    }

    h2 {
        font-size: 2.2em;
    }

    p {
        font-size: 1em;
    }
}
